<a href="https://colab.research.google.com/github/18cse006/DMDW/blob/main/datapreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
path=("https://raw.githubusercontent.com/18cse006/DMDW/main/Car_sales.csv")

In [22]:
data=pd.read_csv(path)

In [23]:
type(data)

pandas.core.frame.DataFrame

In [24]:
data.shape

(157, 16)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [26]:
data.index

RangeIndex(start=0, stop=157, step=1)

In [27]:
data.columns

Index(['Manufacturer', 'Model', 'Sales_in_thousands', '__year_resale_value',
       'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest_Launch', 'Power_perf_factor'],
      dtype='object')

In [28]:
data.head()

  Manufacturer    Model  ...  Latest_Launch  Power_perf_factor
0        Acura  Integra  ...       2/2/2012          58.280150
1        Acura       TL  ...       6/3/2011          91.370778
2        Acura       CL  ...       1/4/2012                NaN
3        Acura       RL  ...      3/10/2011          91.389779
4         Audi       A4  ...      10/8/2011          62.777639

[5 rows x 16 columns]

In [29]:
data.tail()

    Manufacturer Model  ...  Latest_Launch  Power_perf_factor
152        Volvo   V40  ...      9/21/2011          66.498812
153        Volvo   S70  ...     11/24/2012          70.654495
154        Volvo   V70  ...      6/25/2011          71.155978
155        Volvo   C70  ...      4/26/2011         101.623357
156        Volvo   S80  ...     11/14/2011          85.735655

[5 rows x 16 columns]

In [30]:
data.head(10)

  Manufacturer    Model  ...  Latest_Launch  Power_perf_factor
0        Acura  Integra  ...       2/2/2012          58.280150
1        Acura       TL  ...       6/3/2011          91.370778
2        Acura       CL  ...       1/4/2012                NaN
3        Acura       RL  ...      3/10/2011          91.389779
4         Audi       A4  ...      10/8/2011          62.777639
5         Audi       A6  ...       8/9/2011          84.565105
6         Audi       A8  ...      2/27/2012         134.656858
7          BMW     323i  ...      6/28/2011          71.191207
8          BMW     328i  ...      1/29/2012          81.877069
9          BMW     528i  ...       4/4/2011          83.998724

[10 rows x 16 columns]

In [32]:
data.isnull().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [33]:
data.dropna(inplace=True)
data.isnull().sum

<bound method DataFrame.sum of      Manufacturer  Model  ...  Latest_Launch  Power_perf_factor
0           False  False  ...          False              False
1           False  False  ...          False              False
3           False  False  ...          False              False
4           False  False  ...          False              False
5           False  False  ...          False              False
..            ...    ...  ...            ...                ...
145         False  False  ...          False              False
146         False  False  ...          False              False
147         False  False  ...          False              False
148         False  False  ...          False              False
149         False  False  ...          False              False

[117 rows x 16 columns]>

In [34]:
data.shape

(117, 16)

In [35]:
data.head(10)

   Manufacturer    Model  ...  Latest_Launch  Power_perf_factor
0         Acura  Integra  ...       2/2/2012          58.280150
1         Acura       TL  ...       6/3/2011          91.370778
3         Acura       RL  ...      3/10/2011          91.389779
4          Audi       A4  ...      10/8/2011          62.777639
5          Audi       A6  ...       8/9/2011          84.565105
6          Audi       A8  ...      2/27/2012         134.656858
8           BMW     328i  ...      1/29/2012          81.877069
9           BMW     528i  ...       4/4/2011          83.998724
10        Buick  Century  ...      11/2/2011          71.181451
11        Buick    Regal  ...       9/3/2011          95.636703

[10 rows x 16 columns]

In [36]:
#2nd method handling missing values
data.mean()

Sales_in_thousands      59.112316
__year_resale_value     18.031538
Price_in_thousands      25.969487
Engine_size              3.048718
Horsepower             181.282051
Wheelbase              107.326496
Width                   71.189744
Length                 187.717949
Curb_weight              3.324051
Fuel_capacity           17.812821
Fuel_efficiency         24.119658
Power_perf_factor       74.930921
dtype: float64